/* main stylesheet for site */

body		{
            background-color:#47005a;
            margin:70px 10px 10px 10px;
            padding-bottom: 50px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

div			{
            padding: 1px 5px 1px 5px
            }

header      {
            background-color:#161a1d;
            font-size: 30px;
            display: flex;
            width:100%;
            padding:5px;
            position: fixed;
            justify-content: space-between; right:0;
            left:0;
            top:0;
            color:white
            }

header p    {
            margin: 5px
            }

.name       {
            display:block;
            }

.links      {
            margin-right: 20px;
            display:block;
            } 

.main       {
            color:white;
            background-color: #7c0b9b;
            }

a           {
            color:white
            }